body
{
	width: 99%;
	height: 97%;
}
#controles
{
	width: 100%;
	height: 10%;
}
#zonaJuego
{
	width: 100%;
	height: 90%;
}
#tableros
{
	padding-left: 10%;
	float: left;
	width: 50%;
	height: 100%;
}
#mazo
{
	float: left;
	width: 34%;
	height: 100%;
}
#restante
{
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 5%;
	margin-bottom: 5%;
	width: 50%;
	height: 45%;
}
#pasado
{
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 5%;
	margin-bottom: 5%;
	width: 50%;
	height: 45%;
	background: gray;			
}

.carta
{
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

/*Falta la version de tableta*/
#img
{	
	width: 90%;
	height: 65%;
	background-size: 100% 100%;	
	position:relative;
	left:5%;
	top:5%;

	-webkit-border-radius: 20px 20px 0px 0px;
	-moz-border-radius: 20px 20px 0px 0px;
	border-radius: 20px 20px 0px 0px;
}

#txt
{
	color :white;
	margin-left: 5%;
	margin-top: 15%;
	font-size: 2em;
	text-align: center;
}

#rejas
{
	height: 80%;
	width: 65%;
	position: absolute;
}

#pestanas
{	
	margin-left: 10%;
	height: 8%;
	width: 100%;
}
.tablero
{	
	width: 70%;
	height: 100%;
	position: absolute;
	left: 0px;
    top: 0px;

    -webkit-box-shadow: 1px 1px 1px 0px rgb(0, 0, 0),
						2px 2px 1px 0px rgb(255, 255, 255),
						3px 3px 1px 0px rgb(0, 0, 0),
						4px 4px 1px 0px rgb(255, 255, 255),
						5px 5px 1px 0px rgb(0, 0, 0),
						6px 6px 1px 0px rgb(255, 255, 255),
						7px 7px 1px 0px rgb(0, 0, 0),
						8px 8px 1px 0px rgb(255, 255, 255);

	-moz-box-shadow:    1px 1px 1px 0px rgb(0, 0, 0),
						2px 2px 1px 0px rgb(255, 255, 255),
						3px 3px 1px 0px rgb(0, 0, 0),
						4px 4px 1px 0px rgb(255, 255, 255),
						5px 5px 1px 0px rgb(0, 0, 0),
						6px 6px 1px 0px rgb(255, 255, 255),
						7px 7px 1px 0px rgb(0, 0, 0),
						8px 8px 1px 0px rgb(255, 255, 255);

	box-shadow:         1px 1px 1px 0px rgb(0, 0, 0),
						2px 2px 1px 0px rgb(255, 255, 255),
						3px 3px 1px 0px rgb(0, 0, 0),
						4px 4px 1px 0px rgb(255, 255, 255),
						5px 5px 1px 0px rgb(0, 0, 0),
						6px 6px 1px 0px rgb(255, 255, 255),
						7px 7px 1px 0px rgb(0, 0, 0),
						8px 8px 1px 0px rgb(255, 255, 255);
}

.pestana
{
	
	float:left;
	margin-left: 10px;
	padding: 10px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}	

.Pactivo
{
	background-color: #555575;
}
.Pinactivo
{
	background-color: gray;
}

.activo
{
	z-index: 2;
	background-color: #555575;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.inactivo
{
	z-index: -1;
}
.imgTablero
{
	background-size: 100% 100%;		
	width: 100%;
	height: 100%;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

}
table{
	
	height: 96%;
	width: 96%;
	border-collapse: collapse;
	margin-left: 2%;
	margin-top: 2%;
}
td{
	padding: 2px;
}
.ficha
{
	background: url("../img/ficha.png");
	background-size: 100% 100%;		
	width: 50%;
	height: 50%;
	position: relative;
	top: 20%;
	left: 20%;
}

#boton,#ganador,#contador
{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
}

#boton
{
	float:left;
	margin-left: 10%;
	background: #55AA55;
	padding: 10px;
}
#ganador
{
	position: absolute;
	left: 30%;
	top:30%;
	z-index: 5;
	background-color: #55AA77;
	display: none;
	padding: 15px;

	-webkit-box-shadow: 20px 20px 40px 0px rgb(0, 0, 0);
	-moz-box-shadow:    20px 20px 40px 0px rgb(0, 0, 0);
	box-shadow:         20px 20px 40px 0px rgb(0, 0, 0);
}
#jGanador
{
	padding: 15px;

	-webkit-box-shadow: 1px 1px 10px 0px rgb(0, 0, 0);
	-moz-box-shadow:    1px 1px 10px 0px rgb(0, 0, 0);
	box-shadow:         1px 1px 10px 0px rgb(0, 0, 0);
}

#contador
{
	float:right;
	margin-right: 15%;
	padding: 10px;
	background: gray;
}
#nContador
{
	text-align: center;
}


